@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(780px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(980px)) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

* {
  word-break: break-word;
  box-sizing: border-box;
}

a {
  color: #000;
}

p {
  font-size: 15px;
  line-height: 24px;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: 16px;
}

.pc-block {
  display: block;

  @include tab {
    display: none;
  }
}

.sp-block {
  display: none;

  @include tab {
    display: block;
  }
}

.blue {
  color: #0071bc;
}

.section-style {
  padding: 60px 0 0;

  @include tab {
    padding: 40px 0 0;
  }
}


.section-style02 {
  padding: 80px 0;

  @include tab {
    padding: 40px 0;
  }
}

.section-ttl {
  font-size: 30px;
  text-align: center;
  margin: 0 0 60px;
  line-height: 1.8;

  @include tab {
    font-size: 20px;
    margin: 0 0 32px;
    line-height: 26px;
  }

  &__span {
    color: #0071bc;
    font-size: 85%;
  }
}


.gray-part {
  background-color: #e9e9e9;
  padding: 80px 12px 40px;
  position: relative;

  @include tab {
    padding: 40px 12px 28px;

  }

  &:before {
    content: url(../img/maintenance/gray-part-arrow.png);
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 0;
    text-align: right;

    @include tab {
      transform: translateX(50%) scale(0.5);
      top: -12px;
    }
  }

  &__text {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.5;
    margin: 0 0 34px;

    @include sp {
      font-size: 18px;
      margin: 0 0 24px;

    }
  }

  &__btn {
    color: #fff;
    text-align: center;
    background-color: #1da348;
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 12px 0;
    border-radius: 6px;

    &--flow {
      margin: 18px 0 0;
      padding: 6px 0;

      @include tab{
        margin: 16px auto 0;

      }
    }

    @include tab {
      line-height: 0;
      width: 180px;
      padding: 24px 0;
      font-size: 16px;

    }

    &--download {
      background-color: #d10000;
      width: 320px;
      margin: 0 auto 12px;
      padding: 22px 0;


    }

    &--contact {
      width: 320px;
      padding: 22px 0;


    }

  }

  &__btn-span {
    font-size: 75%;
    display: inline-block;
    margin: 0 0 6px;

    @include tab {
      display: none;
    }
  }
}

.form-content {

  input[type=”text”],
  select {
    border: 2px solid #25237b;
    width: 100%;
    padding: 6px;
  }

  &__name {
    display: flex;
    gap: 12px;
    margin: 0 0 12px;

    @include sp{
      flex-direction: column;
    }

    span {
      width: calc((100% - 12px) / 2);

      @include sp{
      width: 100%;
      }
    }
  }

  &__input {
    margin: 0 0 12px;
  }

  &__select {
    margin: 0 0 12px;

  }

  &__checkbox {
    color: #000;
    font-size: 12px;
    text-align: left;
    text-align: center;
    margin: 0 0 6px;
  }


  &__privacy {
    color: #000;
    font-size: 10px;
    margin: 0 0 12px;
    text-align: center;

    a {
      color: #d10000;
      text-decoration: underline;
    }

  }
}
































.sp-none {
  display: block;

  @include tab {
    display: none;
  }
}

.pc-none {
  display: none;

  @include tab {
    display: block;
  }
}

.section-wrap {
  padding: 80px 0 64px;

  @include tab {
    font-size: 20px;
    padding: 40px 8px;
  }
}

.section-wrap--gray {
  padding: 80px 0 64px;
  background-color: #e9e9e9;
  box-shadow: inset 0px 0px 32px 5px rgb(0 0 0 / 10%);

  @include tab {
    font-size: 20px;
    padding: 40px 8px;
  }
}



.section-ttl__lead-text {
  font-size: 28px;
  text-align: center;
  margin: 0 0 32px;
  line-height: 32px;

  @include tab {
    font-size: 20px;
    margin: 0 0 16px;
    line-height: 22px;
  }
}

.section-lead {
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  margin: 0 0 54px;

  @include tab {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 32px;

  }
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.fab {
  font-size: 30px;
  width: 50px;
}

// 追従ボタン

.side-btn {
  display: none;
  position: fixed;
  background: rgba(215, 0, 0, 0.8);
  bottom: 90px;
  right: 12px;
  padding: 16px 0;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  border-radius: 8px;
  width: 120px;
  z-index: 400;

  &--contact {
    bottom: 24px;
    background: rgba(7, 183, 54, 0.8);

  }

  @include tab {
    display: block;

  }



  &__link {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }

  &__close {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 10;
    display: block;
    font-size: 24px;
    cursor: pointer;
    z-index: 500;
    background-color: #fff;
    width: 16px;
    height: 16px;
    line-height: 14px;
    border-radius: 18px;
    font-size: 14px;



    &:hover {
      opacity: 1;
    }
  }
}

.side-contact-btn {
  position: fixed;
  background: rgba(107, 187, 199, 0.6);
  color: #fff;
  bottom: 24px;
  right: 12px;
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  border-radius: 8px;
  width: 180px;
  z-index: 400;

  @include sp {
    width: 120px;
    font-size: 14px;

  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }

  &__close {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 500;
    display: block;
    font-size: 24px;
    cursor: pointer;

    @include pc {
      top: 2px;
      right: 2px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.fluffy {
  animation: fluffy1 3s ease infinite;
}

@keyframes fluffy1 {
  0% {
    transform: translateY(0)
  }

  5% {
    transform: translateY(0)
  }

  10% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-10px)
  }

  25% {
    transform: translateY(0)
  }

  30% {
    transform: translateY(-10px)
  }

  50% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(0)
  }
}