@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

* {
  word-break: break-word;
  box-sizing: border-box;
}

a {
  color: #000;
}

p {
  font-size: 15px;
  line-height: 24px;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: 16px;
}

.pc-block {
  display: block;
}
@media (max-width: 780px) {
  .pc-block {
    display: none;
  }
}

.sp-block {
  display: none;
}
@media (max-width: 780px) {
  .sp-block {
    display: block;
  }
}

.blue {
  color: #0071bc;
}

.section-style {
  padding: 60px 0 0;
}
@media (max-width: 780px) {
  .section-style {
    padding: 40px 0 0;
  }
}

.section-style02 {
  padding: 80px 0;
}
@media (max-width: 780px) {
  .section-style02 {
    padding: 40px 0;
  }
}

.section-ttl {
  font-size: 30px;
  text-align: center;
  margin: 0 0 60px;
  line-height: 1.8;
}
@media (max-width: 780px) {
  .section-ttl {
    font-size: 20px;
    margin: 0 0 32px;
    line-height: 26px;
  }
}
.section-ttl__span {
  color: #0071bc;
  font-size: 85%;
}

.gray-part {
  background-color: #e9e9e9;
  padding: 80px 12px 40px;
  position: relative;
}
@media (max-width: 780px) {
  .gray-part {
    padding: 40px 12px 28px;
  }
}
.gray-part:before {
  content: url(../img/maintenance/gray-part-arrow.png);
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 0;
  text-align: right;
}
@media (max-width: 780px) {
  .gray-part:before {
    transform: translateX(50%) scale(0.5);
    top: -12px;
  }
}
.gray-part__text {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.5;
  margin: 0 0 34px;
}
@media (max-width: 600px) {
  .gray-part__text {
    font-size: 18px;
    margin: 0 0 24px;
  }
}
.gray-part__btn {
  color: #fff;
  text-align: center;
  background-color: #1da348;
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 12px 0;
  border-radius: 6px;
}
.gray-part__btn--flow {
  margin: 18px 0 0;
  padding: 6px 0;
}
@media (max-width: 780px) {
  .gray-part__btn--flow {
    margin: 16px auto 0;
  }
}
@media (max-width: 780px) {
  .gray-part__btn {
    line-height: 0;
    width: 180px;
    padding: 24px 0;
    font-size: 16px;
  }
}
.gray-part__btn--download {
  background-color: #d10000;
  width: 320px;
  margin: 0 auto 12px;
  padding: 18px 0;
}
.gray-part__btn--contact {
  width: 320px;
  padding: 18px 0;
}
.gray-part__btn-span {
  font-size: 75%;
  display: inline-block;
  margin: 0 0 6px;
}
@media (max-width: 780px) {
  .gray-part__btn-span {
    display: none;
  }
}

.form-content input[type=”text”],
.form-content select {
  border: 2px solid #25237b;
  width: 100%;
  padding: 6px;
}
.form-content__name {
  display: flex;
  gap: 12px;
  margin: 0 0 12px;
}
.form-content__input {
  margin: 0 0 12px;
}
.form-content__select {
  margin: 0 0 12px;
}
.form-content__checkbox {
  color: #000;
  font-size: 12px;
  text-align: left;
  text-align: center;
  margin: 0 0 6px;
}
.form-content__privacy {
  color: #000;
  font-size: 10px;
  margin: 0 0 12px;
}
.form-content__privacy a {
  color: #d10000;
  text-decoration: underline;
}

.sp-none {
  display: block;
}
@media (max-width: 780px) {
  .sp-none {
    display: none;
  }
}

.pc-none {
  display: none;
}
@media (max-width: 780px) {
  .pc-none {
    display: block;
  }
}

.section-wrap {
  padding: 80px 0 64px;
}
@media (max-width: 780px) {
  .section-wrap {
    font-size: 20px;
    padding: 40px 8px;
  }
}

.section-wrap--gray {
  padding: 80px 0 64px;
  background-color: #e9e9e9;
  box-shadow: inset 0px 0px 32px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 780px) {
  .section-wrap--gray {
    font-size: 20px;
    padding: 40px 8px;
  }
}

.section-ttl__lead-text {
  font-size: 28px;
  text-align: center;
  margin: 0 0 32px;
  line-height: 32px;
}
@media (max-width: 780px) {
  .section-ttl__lead-text {
    font-size: 20px;
    margin: 0 0 16px;
    line-height: 22px;
  }
}

.section-lead {
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  margin: 0 0 54px;
}
@media (max-width: 780px) {
  .section-lead {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 32px;
  }
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.fab {
  font-size: 30px;
  width: 50px;
}

.side-btn {
  display: none;
  position: fixed;
  background: rgba(250, 0, 0, 0.6);
  bottom: 90px;
  right: 12px;
  padding: 16px 0;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  border-radius: 8px;
  width: 120px;
  z-index: 400;
}
.side-btn--contact {
  bottom: 24px;
  background: rgba(7, 183, 54, 0.6);
}
@media (max-width: 780px) {
  .side-btn {
    display: block;
  }
}
.side-btn__link {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.side-btn__close {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10;
  display: block;
  font-size: 24px;
  cursor: pointer;
  z-index: 500;
  background-color: #fff;
  width: 16px;
  height: 16px;
  line-height: 14px;
  border-radius: 18px;
  font-size: 14px;
}
.side-btn__close:hover {
  opacity: 1;
}

.side-contact-btn {
  position: fixed;
  background: rgba(107, 187, 199, 0.6);
  color: #fff;
  bottom: 24px;
  right: 12px;
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  border-radius: 8px;
  width: 180px;
  z-index: 400;
}
@media (max-width: 600px) {
  .side-contact-btn {
    width: 120px;
    font-size: 14px;
  }
}
.side-contact-btn__link:hover {
  text-decoration: none;
}
.side-contact-btn__close {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 500;
  display: block;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 980px) {
  .side-contact-btn__close {
    top: 2px;
    right: 2px;
  }
}
.side-contact-btn__close:hover {
  opacity: 1;
}

.fluffy {
  animation: fluffy1 3s ease infinite;
}

@keyframes fluffy1 {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
/* =================================
header
 ================================= */
.wrap-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.header {
  background-color: #fff;
}
@media (max-width: 780px) {
  .header {
    border-bottom: 1px #8a8a8a solid;
  }
}
.header__inner {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 780px) {
  .header__inner {
    padding: 4px;
  }
}
.header__ttl {
  max-width: 250px;
}
@media (max-width: 780px) {
  .header__ttl {
    max-width: 180px;
  }
}
.header__right {
  display: flex;
  gap: 24px;
}
.header__tel {
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 780px) {
  .header__tel {
    display: none;
  }
}
.header__time {
  text-align: center;
  display: block;
  font-size: 12px;
  margin: 0 0 4px;
}
@media (max-width: 780px) {
  .header__time {
    display: none;
  }
}
.header__siryou {
  display: block;
  background-color: #d10000;
  color: #fff;
  width: 140px;
  border-radius: 4px;
  line-height: 14px;
  text-align: center;
  padding: 12px;
  font-size: 14px;
}
@media (max-width: 780px) {
  .header__siryou {
    display: none;
  }
}
.header__contact {
  display: block;
  background-color: #1da348;
  color: #fff;
  width: 140px;
  border-radius: 4px;
  line-height: 14px;
  text-align: center;
  padding: 12px;
  font-size: 14px;
}
@media (max-width: 780px) {
  .header__contact {
    display: none;
  }
}
.header__open-btn {
  position: relative;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /*.active が付与された時の挙動*/
}
@media (max-width: 780px) {
  .header__open-btn {
    display: block;
  }
}
.header__open-btn span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 11px;
  height: 2px;
  border-radius: 5px;
  background: #000;
  width: 65%;
}
.header__open-btn span:nth-of-type(1) {
  top: 13px;
}
.header__open-btn span:nth-of-type(2) {
  top: 23px;
}
.header__open-btn span:nth-of-type(3) {
  top: 33px;
}
.header__open-btn.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}
.header__open-btn.active.active span:nth-of-type(2) {
  opacity: 0;
}
.header__open-btn.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}
.header__open-btn.active span:nth-of-type(3)::after {
  display: none;
}

.header-sp {
  position: fixed;
  z-index: 99;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background-color: rgba(231, 230, 230, 0.9);
  /*動き*/
  transition: all 0.6s;
}
.header-sp.open-menu {
  right: 0;
}
.header-sp__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-sp__tel {
  font-size: 22px;
  font-weight: 900;
  display: inline-block;
  margin: 0 0 8px;
}
.header-sp__time {
  text-align: center;
  margin: 0 0 40px;
}
.header-sp__nav {
  margin: 0 0 40px;
}
.header-sp__nav-item {
  margin: 0 0 8px;
}
.header-sp__download-link {
  text-align: center;
  display: inline-block;
  line-height: 19px;
  background-color: #62c0fa;
  color: #fff;
  padding: 12px;
}

/* =================================
main-visual
 ================================= */
.main-visual {
  background-color: #e9e9e9;
  padding: 64px 12px 60px;
}
@media (max-width: 780px) {
  .main-visual {
    padding: 57px 0 40px;
  }
}
.main-visual__inner {
  max-width: 780px;
  margin: 0 auto;
}
.main-visual__top-text {
  color: #25237b;
  font-weight: bold;
  margin: 60px 0 0;
  font-size: 18px;
}
@media (max-width: 780px) {
  .main-visual__top-text {
    font-size: 15px;
    background-color: #fff;
    margin: 0;
    padding: 12px;
    text-align: center;
  }
}
.main-visual__bottom-text {
  font-size: 20px;
  font-weight: bold;
  margin: 48px 0 0 60px;
  line-height: 1.7;
}
@media (max-width: 780px) {
  .main-visual__bottom-text {
    font-size: 17px;
    width: 290px;
    margin: 32px auto 0;
    transform: translateX(-8px);
  }
}
.main-visual__img {
  max-width: 720px;
  margin: -30px auto 0;
}
@media (max-width: 780px) {
  .main-visual__img {
    max-width: 520px;
    padding: 0 20px;
    margin: -4px auto 12px;
  }
}
.main-visual__btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 780px) {
  .main-visual__btn-wrap {
    gap: 18px;
  }
}
.main-visual__btn {
  display: block;
  background-color: #1da348;
  color: #fff;
  width: 220px;
  border-radius: 4px;
  line-height: 14px;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 780px) {
  .main-visual__btn {
    width: 150px;
    padding: 16px 0;
  }
}
.main-visual__btn span {
  font-size: 80%;
  display: block;
  margin: 0 0 4px;
}
@media (max-width: 780px) {
  .main-visual__btn span {
    display: none;
  }
}
.main-visual__btn--contact {
  background-color: #d10000;
}

/* =================================
追従フォーム
 ================================= */
.side-contact {
  position: fixed;
  background: #fff;
  color: #fff;
  bottom: 40px;
  right: 0;
  padding: 32px 0;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  width: 240px;
  z-index: 400;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (max-width: 780px) {
  .side-contact {
    display: none;
  }
}
.side-contact__ttl {
  color: #25237b;
  text-align: center;
  font-weight: bold;
  margin: 0 0 16px;
}
.side-contact__ttl span {
  display: block;
  font-size: 85%;
  margin: 16px 0 0;
}
.side-contact__text {
  color: #000;
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 20px;
}
.side-contact__form {
  width: 90%;
  margin: 0 auto;
}
.side-contact__close {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10;
  display: block;
  font-size: 24px;
  cursor: pointer;
  z-index: 500;
  color: #000;
}
@media (max-width: 980px) {
  .side-contact__close {
    top: 1px;
    right: 2px;
  }
}
.side-contact__close:hover {
  opacity: 1;
}
.side-contact__btn {
  display: block;
  background-color: #d10000;
  color: #fff;
  width: 200px;
  border-radius: 4px;
  line-height: 14px;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
}
.side-contact__btn span {
  font-size: 80%;
  display: block;
  margin: 0 0 4px;
}

/* =================================
ロゴ
 ================================= */
/* =================================
こんなお悩みや不安はありませんか？
 ================================= */
.top-worries__content {
  display: flex;
  max-width: 820px;
  margin: 0 auto 60px;
  justify-content: center;
  padding: 0 16px;
}
@media (max-width: 780px) {
  .top-worries__content {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0 auto 24px;
  }
}
.top-worries__item {
  padding: 0 40px;
  border-right: #e9e9e9 1px solid;
  width: 33.3333333333%;
}
.top-worries__item:last-of-type {
  border-right: none;
}
@media (max-width: 780px) {
  .top-worries__item {
    width: 100%;
    max-width: 500px;
    border-right: none;
    padding: 0;
  }
}
.top-worries__item-ttl {
  text-align: center;
  font-weight: bold;
  border: #000 1px solid;
  background-color: #eef6fd;
  padding: 2px;
  margin: 0 0 40px;
}
@media (max-width: 780px) {
  .top-worries__item-ttl {
    width: 200px;
    margin: 0 auto 28px;
  }
}
@media (max-width: 780px) {
  .top-worries__item-img-wrap {
    display: flex;
    gap: 24px;
  }
}
.top-worries__item-img {
  margin: 0 0 32px;
}
@media (max-width: 780px) {
  .top-worries__item-img {
    width: calc((100% - 24px) / 2);
  }
}
.top-worries__item-img-text {
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  margin: 8px 0 0;
}
/* =================================
メンテンナンスサービスの特長
 ================================= */
.top-features__item {
  margin: 0 0 60px;
}
.top-features__item-ttl {
  max-width: 550px;
  margin: 0 auto 18px;
  font-size: 20px;
  line-height: 1.5;
  position: relative;
  padding: 0 16px;
}
.top-features__item-ttl:before {
  content: url(../img/maintenance/features-check.png);
  position: absolute;
  top: 5px;
  left: -50px;
  transform: scale(0.7);
}
@media (max-width: 600px) {
  .top-features__item-ttl {
    margin: 0 0 18px 60px;
    font-size: 18px;
  }
  .top-features__item-ttl:before {
    top: 15px;
    left: -40px;
    transform: scale(0.7);
  }
}
.top-features__item-text {
  max-width: 550px;
  margin: 0 auto 22px;
  padding: 0 16px;
}
.top-features__youtebe-wrap {
  display: flex;
  max-width: 920px;
  margin: 0 auto;
  gap: 16px;
  padding: 0 16px;
}
@media (max-width: 780px) {
  .top-features__youtebe-wrap {
    flex-direction: column;
    align-items: center;
  }
}
.top-features__youtebe-item {
  width: calc((100% - 32px) / 3);
}
@media (max-width: 780px) {
  .top-features__youtebe-item {
    width: 100%;
    max-width: 480px;
  }
}
@media (max-width: 780px) {
  .top-features__youtebe-item--sp-none {
    display: none;
  }
}
.top-features__youtebe-inner {
  border-radius: 8px;
  height: 0;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  background-color: #e9e9e9;
}
.top-features__youtebe-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =================================
メンテンナンス機器について
 ================================= */
.top-about {
  border-bottom: #e9e9e9 1px solid;
}
.top-about__content {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 16px;
}
@media (max-width: 780px) {
  .top-about__content {
    flex-direction: column;
    gap: 60px;
  }
}
.top-about__item {
  width: calc((100% - 40px) / 2);
}
@media (max-width: 600px) {
  .top-about__item {
    width: 100%;
  }
}
.top-about__tag-wrap {
  display: flex;
  gap: 8px;
  margin: 0 0 8px;
}
.top-about__tag {
  background-color: #e0eefb;
  border: #000 1px solid;
  padding: 0 8px;
  font-size: 14px;
  font-weight: bold;
}
.top-about__img {
  display: block;
  margin: 0 0 8px;
}
.top-about__img img {
  aspect-ratio: 5/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-about__link {
  display: block;
  text-align: right;
  font-size: 13px;
  color: #4193db;
  margin: 0 0 16px;
}
.top-about__ttl {
  margin: 0 0 12px;
}
/* =================================
料金プランについて
 ================================= */
.top-price__content {
  max-width: 920px;
  margin: 0 auto 60px;
  padding: 0 16px;
}
@media (max-width: 780px) {
  .top-price__content {
    max-width: 520px;
    margin: 0 auto 40px;
  }
}
/* =================================
導入事例
 ================================= */
.top-case__content {
  display: flex;
  max-width: 980px;
  margin: 0 auto 60px;
  gap: 24px;
  flex-wrap: wrap;
  padding: 0 16px;
}
@media (max-width: 780px) {
  .top-case__content {
    flex-direction: column;
    gap: 60px;
    margin: 0 auto 40px;
    align-items: center;
  }
}
.top-case__item {
  width: calc((100% - 48px) / 3);
  margin: 0 0 40px;
}
@media (max-width: 780px) {
  .top-case__item {
    width: 100%;
    max-width: 420px;
    margin: 0;
  }
}
.top-case__ttl {
  padding: 0 0 0 8px;
  margin: 0 0 4px;
}
.top-case__price {
  margin: 0 0 8px;
}
.top-case__box {
  border: #e9e9e9 1px solid;
}
.top-case__img {
  display: block;
  margin: 0 0 8px;
}
.top-case__img img {
  aspect-ratio: 5/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-case__text-box {
  padding: 12px;
}
.top-case__lead {
  margin: 0 0 8px;
  font-weight: bold;
}
.top-case__blue {
  font-size: 13px;
  margin: 0 0 12px;
}
/* =================================
ご利用の流れ
 ================================= */
.top-flow {
  border-bottom: #e9e9e9 1px solid;
}
.top-flow__content {
  padding: 0 16px;
}
.top-flow__item {
  display: flex;
  max-width: 920px;
  margin: 0 auto 70px;
  background-color: #e9e9e9;
  padding: 40px;
  align-items: center;
  position: relative;
}
.top-flow__item:last-of-type {
  margin: 0 auto;
}
@media (max-width: 780px) {
  .top-flow__item {
    flex-direction: column;
    gap: 18px;
    padding: 22px;
  }
}
.top-flow__item:before {
  content: url(../img/maintenance/flow-arrow.png);
  position: absolute;
  right: 50%;
  transform: translateX(50%) scale(0.5);
  bottom: -62px;
  text-align: right;
}
.top-flow__item:last-of-type:before {
  display: none;
}
.top-flow__left {
  width: 28%;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 780px) {
  .top-flow__left {
    width: 100%;
  }
}
.top-flow__right {
  width: 72%;
  line-height: 1.5;
}
@media (max-width: 780px) {
  .top-flow__right {
    width: 100%;
  }
}
/* =================================
よくある質問
 ================================= */
.top-faq__content {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 16px;
}
.top-faq__item {
  border-top: #e9e9e9 solid 1px;
  border-bottom: #e9e9e9 solid 1px;
  padding: 8px 0;
}
.top-faq__dt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 6px 12px 6px 40px;
}
.top-faq__dt::before {
  content: "Q";
  position: absolute;
  top: 10px;
  left: 15px;
}
.top-faq__dd {
  display: none;
  background-color: #e0f0ff;
  position: relative;
  padding: 12px 12px 12px 40px;
  margin: 4px 0 0;
}
.top-faq__dd::before {
  content: "A";
  position: absolute;
  top: 13px;
  left: 15px;
}
/* =================================
お問い合わせ
 ================================= */
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================
ratio-section
 ================================= */
.ratio-section__content {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1040px;
}
@media (max-width: 780px) {
  .ratio-section__content {
    flex-direction: column;
    gap: 24px;
  }
}
.ratio-section__text-wrap {
  background-color: #fff;
  padding: 16px;
}
@media (max-width: 780px) {
  .ratio-section__text-wrap {
    order: 1;
  }
}
.ratio-section__span {
  color: #d10000;
}
.ratio-section__img-wrap {
  text-align: center;
}
@media (max-width: 780px) {
  .ratio-section__img-wrap {
    max-width: 300px;
  }
}
.ratio-section__img {
  margin: 0 0 12px 12px;
}

/* =================================
list-section
 ================================= */
.list-section__content {
  max-width: 900px;
}
@media (max-width: 780px) {
  .list-section__content {
    overflow-x: scroll;
  }
}
.list-section__table {
  border-collapse: collapse;
  border: 1px solid #595959;
  white-space: nowrap;
  margin: 0 auto;
}
@media (max-width: 780px) {
  .list-section__table {
    font-size: 14px;
  }
}
.list-section__tr--attention {
  background-color: #ffe850;
  font-weight: bold;
}
.list-section__th {
  border-collapse: collapse;
  border: 1px solid #595959;
  background-color: #bbdcf9;
  text-align: center;
  vertical-align: middle;
  padding: 18px;
  line-height: 22px;
  width: 400px;
}
.list-section__th:nth-child(n+2) {
  width: 160px;
}
.list-section__td {
  border-collapse: collapse;
  border: 1px solid #595959;
  padding: 8px 18px;
}
.list-section__td:nth-child(n+2) {
  text-align: center;
}
.list-section__td--attention {
  color: #d10000;
}
.list-section__text {
  text-align: right;
  font-size: 12px;
  margin: 0 12px 0 0;
}

/* =================================
part-section
 ================================= */
.part-section__content {
  display: flex;
  justify-content: space-between;
}
.part-section__item {
  width: 23%;
  margin: 0 0 8px;
}
.part-section__img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.part-section__explanation {
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
}

/* =================================
service-section
 ================================= */
.service-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1020px;
}
@media (max-width: 780px) {
  .service-section__content {
    flex-direction: column;
  }
}
.service-section__img-wrap {
  width: 42%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 780px) {
  .service-section__img-wrap {
    width: 100%;
    max-width: 500px;
    margin: 0 0 16px;
  }
}
.service-section__text-wrap {
  width: 52%;
}
@media (max-width: 780px) {
  .service-section__text-wrap {
    width: 100%;
    max-width: 500px;
  }
}

/* =================================
feature-section
 ================================= */
.feature-section__ttl {
  margin: 0 0 80px;
}
@media (max-width: 780px) {
  .feature-section__ttl {
    margin: 0 0 40px;
  }
}
.feature-section__item {
  display: flex;
  margin: 0 0 80px;
}
@media (max-width: 780px) {
  .feature-section__item {
    flex-direction: column;
    margin: 0 0 40px;
  }
}
.feature-section__text-wrap {
  width: 60%;
  background-color: #fff;
  padding: 32px;
  z-index: 10;
}
@media (max-width: 780px) {
  .feature-section__text-wrap {
    width: 100%;
    margin-bottom: 8px;
    padding: 16px;
  }
}
@media (max-width: 780px) {
  .feature-section__text-wrap--reverse {
    order: -1;
  }
}
.feature-section__item-ttl {
  font-size: 24px;
  margin: 0 0 16px;
  line-height: 36px;
}
@media (max-width: 780px) {
  .feature-section__item-ttl {
    font-size: 18px;
    margin: 0 0 16px;
    line-height: 24px;
  }
}
.feature-section__img-wrap {
  width: 50%;
  transform: translate(-30px, -27px);
}
@media (max-width: 780px) {
  .feature-section__img-wrap {
    transform: translate(0, 0);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}
.feature-section__img-wrap--reverse {
  transform: translate(30px, -27px);
}
@media (max-width: 780px) {
  .feature-section__img-wrap--reverse {
    transform: translate(0, 0);
  }
}
.feature-section__img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.feature-section__list-ttl {
  text-align: center;
  margin: 16px;
  font-weight: 900;
}
.feature-section__list {
  display: flex;
  flex-wrap: wrap;
}
.feature-section__list-item {
  width: 50%;
  margin: 0 0 8px;
}
@media (max-width: 600px) {
  .feature-section__list-item {
    width: 100%;
  }
}

/* =================================
detection-section
 ================================= */
.detection-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1020px;
}
@media (max-width: 780px) {
  .detection-section__content {
    flex-direction: column;
  }
}
.detection-section__youtube-wrap {
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 780px) {
  .detection-section__youtube-wrap {
    width: 100%;
    max-width: 500px;
    margin: 0 0 16px;
  }
}
.detection-section__youtube {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.detection-section__youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.detection-section__text-wrap {
  width: 36%;
}
@media (max-width: 780px) {
  .detection-section__text-wrap {
    width: 100%;
    max-width: 500px;
  }
}
.detection-section__text-ttl {
  font-size: 24px;
  margin: 0 0 12px;
  line-height: 32px;
  font-weight: 900;
}
@media (max-width: 780px) {
  .detection-section__text-ttl {
    font-size: 18px;
    margin: 0 0 16px;
    line-height: 22px;
  }
}

/* =================================
introduction-section
 ================================= */
@media (max-width: 780px) {
  .introduction-section {
    padding: 40px 8px 24px;
  }
}
.introduction-section__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1020px;
  margin: 0 auto 38px;
  padding: 24px;
  background-color: #fff;
}
@media (max-width: 780px) {
  .introduction-section__item {
    flex-direction: column;
    padding: 8px 8px 0;
    margin: 0 0 15px;
  }
}
.introduction-section__item-img-wrap {
  width: 38%;
}
@media (max-width: 780px) {
  .introduction-section__item-img-wrap {
    width: 100%;
    max-width: 500px;
    margin: 0 0 8px;
  }
}
.introduction-section__item-text-wrap {
  width: 60%;
}
@media (max-width: 780px) {
  .introduction-section__item-text-wrap {
    width: 100%;
    max-width: 500px;
    margin: 0 0 40px;
  }
}
.introduction-section__item-ttl {
  font-size: 24px;
  margin: 0 0 16px;
  line-height: 36px;
}
@media (max-width: 780px) {
  .introduction-section__item-ttl {
    font-size: 18px;
    margin: 0 0 16px;
    line-height: 24px;
  }
}
.introduction-section__list-ttl {
  text-align: center;
  margin: 16px;
  font-weight: 900;
}
.introduction-section__list {
  display: flex;
  width: 320px;
  margin: 0 auto 8px;
}
.introduction-section__list-left {
  width: 52%;
  font-size: 16px;
}
.introduction-section__list-right {
  width: 48%;
  font-size: 16px;
}
.introduction-section__link {
  display: block;
  width: 340px;
  background-color: #d10000;
  padding: 16px;
  margin: 0 auto 40px;
  text-align: center;
  color: #fff;
}
@media (max-width: 600px) {
  .introduction-section__link {
    width: 240px;
    font-size: 15px;
    line-height: 18px;
  }
}

/* =================================
calculation-section
 ================================= */
.calculation-section__content {
  max-width: 744px;
  margin: 0 auto;
}
@media (max-width: 780px) {
  .calculation-section__content {
    flex-direction: column;
  }
}
.calculation-section__content-ttl {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 12px;
}
@media (max-width: 600px) {
  .calculation-section__content-ttl {
    margin: 0;
  }
}
.calculation-section__content-ttl-span {
  background-color: #4193db;
  color: #fff;
  padding: 4px 12px;
  display: inline-block;
  border: #000 1px solid;
  margin: 0 12px 0 0;
}
.calculation-section__table {
  width: 100%;
  line-height: 22px;
  margin: 0 0 24px;
}
.calculation-section__table-th {
  padding: 16px 8px;
  width: 40%;
  height: 25px;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
@media (max-width: 780px) {
  .calculation-section__table-th {
    width: 100%;
    display: block;
    margin: 22px 0px 18px;
  }
}
.calculation-section__table-td {
  padding: 16px 8px;
  width: 60%;
  height: 25px;
  font-size: 16px;
  vertical-align: middle;
}
@media (max-width: 780px) {
  .calculation-section__table-td {
    width: 100%;
    display: block;
    margin: 0 0 36px;
  }
}
.calculation-section__table-input {
  width: 100px;
  padding: 6px;
  font-size: 18px;
  text-align: center;
  background-color: #ffe850;
}
.calculation-section__table-span {
  display: inline-block;
  font-size: 14px;
  margin: 8px 0 0 8px;
}
@media (max-width: 780px) {
  .calculation-section__table-span {
    margin: 0 0 0 0;
  }
}
.calculation-section__answer {
  font-size: 20px;
  margin: 0 0 60px;
}
.calculation-section__answer--last {
  font-size: 22px;
  text-align: center;
  line-height: 38px;
}
.calculation-section__border {
  text-decoration: underline;
  text-underline-offset: -0.2em;
  text-decoration-thickness: 0.5em;
  text-decoration-color: rgba(255, 0, 255, 0.2705882353);
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.calculation-section__answer-span {
  background-color: rgba(255, 0, 255, 0.2705882353);
  padding: 4px 12px 4px 12px;
  display: inline-block;
  margin: 0 12px;
}
.calculation-section__answer-span--last {
  background-color: #ff639d;
  font-weight: bold;
}
.calculation-section__text-box {
  border: 1px solid #4193db;
  padding: 12px;
  background-color: rgba(240, 249, 255, 0.8);
  margin: 0 0 40px;
}
.calculation-section__bold {
  font-weight: bold;
}
.calculation-section__link {
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
  line-height: 22px;
}

/* =================================
contact
 ================================= */
.contact-top {
  background-color: #4193db;
}
.contact-top__inner {
  text-align: center;
}
.contact-top__ttl {
  color: #fff;
  padding: 48px 0 0 0;
  margin: 0 0 32px;
}
.contact-top__tel-link {
  display: inline-block;
  background-color: #d10000;
  padding: 16px 40px;
  margin: 0 0 40px;
  color: #fff;
}

.contact-bottom {
  background-color: #bbdcf9;
  padding: 32px 8px;
}
.contact-bottom__inner {
  text-align: center;
}
@media (max-width: 780px) {
  .contact-bottom__tel-before {
    display: block;
  }
}
.contact-bottom__tel-link {
  font-size: 32px;
  font-weight: 900;
  margin: 0 18px 0;
}
@media (max-width: 780px) {
  .contact-bottom__tel-link {
    display: block;
    font-size: 20px;
    font-weight: 900;
    margin: 8px 0;
  }
}
.contact-bottom__tel-after {
  margin: 0 83px 0 0;
}
@media (max-width: 780px) {
  .contact-bottom__tel-after {
    display: block;
    margin: 0;
  }
}

/* =================================
footer
 ================================= */
.footer-top {
  padding: 24px 8px;
}
.footer-top__inner {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 780px) {
  .footer-top__inner {
    flex-direction: column;
  }
}
.footer-top__nav {
  display: flex;
}
@media (max-width: 980px) {
  .footer-top__nav {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.footer-top__nav-item {
  margin: 0 12px 0 0;
  font-size: 14px;
}
@media (max-width: 980px) {
  .footer-top__nav-item {
    font-size: 12px;
    margin: 0 8px 0 0;
  }
}
@media (max-width: 780px) {
  .footer-top__nav-item {
    width: 33%;
    font-size: 14px;
    margin: 0 0 4px;
    text-align: center;
  }
}
@media (max-width: 980px) {
  .footer-top__logo {
    margin: 0 0 16px 0;
  }
}

.footer-bottom {
  margin: 0 0 40px;
}
.footer-bottom__inner {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 8px;
  align-items: flex-end;
}
@media (max-width: 600px) {
  .footer-bottom__inner {
    flex-direction: column;
    align-items: center;
  }
}
.footer-bottom__item {
  line-height: 22px;
  width: 33%;
  font-size: 14px;
}
@media (max-width: 600px) {
  .footer-bottom__item {
    width: 100%;
    max-width: 280px;
    margin: 0 0 20px;
  }
}
.footer-bottom__item-ttl {
  font-weight: 900;
  display: block;
}
.footer-bottom__item-sns {
  text-align: end;
}
@media (max-width: 600px) {
  .footer-bottom__item-sns {
    text-align: left;
    margin: 0;
  }
}/*# sourceMappingURL=maintenance.css.map */